.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Light gray background */
}

/* Card styles */
.card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 10px 20px;
  font-weight: bold;
}

.card-body {
  padding: 20px;
}

/* Sidebar styles */
.sidebar {
  width: 300px;
  background-color: #343a40; /* Dark background color */
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #ccc;
}

/* Main content styles */
.main-content {
  flex: 1;
  padding: 20px;
}

/* Header styles */
.header {
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin-bottom: 10px;
}

.header p {
  font-size: 18px;
}

/* Row styles */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Column styles */
.col-md-12,
.col-md-8,
.col-md-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.order-item h4, .order-item p {
  margin: 0;
}

.menu-button, .category-button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.category-button {
  margin: 0;
  margin-left: auto;
}

button a {
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .col-md-8 {
      flex: 0 0 60%;
      max-width: 60%;
  }

  .col-md-4 {
      flex: 0 0 40%;
      max-width: 40%;
  }
}

